body {
	background-color: black;
	color: white;
	font-family: "Major Mono Display", monospace;
}
button {
	width: 8rem;
	color: rgb(179, 179, 179);
	padding: 1rem;
	margin: 1rem;
	border-radius: 1rem;
	border: 1px solid white;
	box-shadow: 2px 2px white;
	background-color: black;
	font-size: 1rem;
	font-family: "Roboto Mono", monospace;
	transition: 200ms;
}
button:hover {
	color: white;
	cursor: pointer;
}
button:active {
	box-shadow: none;
	transform: translate(2px, 2px);
}

#container {
	margin: auto;
	text-align: center;
}
#grid {
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-template-rows: auto auto auto auto auto auto auto;
	width: 816px;
	height: 816px;
	border: 1px solid black;
}

#emojis {
	margin: auto;
	display: grid;
    grid-auto-flow: column;
    width: 100%;
	border: 1px solid black;
}

#title {
	position: fixed;
	left: -10%;
	top: 50%;
	transform: rotate(270deg);
}

@media only screen and (max-width: 1100px) {
	#title {
		position: inherit;
		left: auto;
		top: auto;
		transform: rotate(0deg);
	}
}
canvas {
	width: 100px;
	height: 100px;
	border: 1px solid rgba(165, 165, 165, 0.2);
}

.form-popup {
	color: white;
	font-family: "Roboto Mono", monospace;
	display: none;
	position: fixed;
	max-width: 400px;
	top: 2%;
	left: 0;
	right: 0;
	margin: auto;
	border: 3px dashed #b6b6b6;
	z-index: 9;
}
.form-container {
	max-width: 400px;
	padding: 10px;
	background-color: rgb(0, 0, 0);
}
.form-container input {
	font-family: "Roboto Mono", monospace;
	font-size: 1rem;
	width: 80%;
	display: block;
	padding: 15px;
	margin: auto;
	border: 1px solid #b6b6b6;
	background: #f6f6f6;
}
.form-container input:focus {
	background-color: #ddd;
	outline: none;
}
.form-container .btn {
	font-weight: bold;
	background-color: black;
	margin: 0.5rem;
	color: #04aa6d;
	padding: 16px 20px;
	border: 2px solid white;
	cursor: pointer;
	width: 60%;
	opacity: 0.8;
}
.form-container .cancel {
	color: #f75555;
}
.form-container .btn:hover,
.open-button:hover {
	opacity: 1;
}
