.keno {
  font-style: italic;
}
#bird {
}
#bird-cage {
  text-transform: uppercase;
  padding: 2rem;
  border: 2px dashed black;
  margin: auto;
  height: 8em;
}
#input {
  text-align: center;
  font-family: "Baloo Tammudu 2", cursive;
  letter-spacing: 0.5rem;
  font-size: 2em;
  width: 90%;
  margin: auto;
}
#about {
  position: fixed;
}
#small{
  font-size: 0.7em;
}

@media only screen and (max-width: 700px) {
  #bird {
    padding: 2rem;
  }
  #input {
    letter-spacing: 0.5rem;
    margin: 5rem 2rem;
    font-size: 2rem;
  }
}
